<div class="row">
<div class="col-md-5 section">
    <h2>Enter Barcode Source</h2>
    <div>
      <input type="text" ng-model="redrick.bsource"></input>
      <button class="btn btn-md" ng-click="redrick.search()">Search</button>
    </div>
    <div>
      <p>Enter/Copy-Paste the data that you recieved from Barcode to the search box above.</p>
    </div>
</div>
<div class="col-md-5 section">
    <h2>Product Details</h2>
    <div ng-show="!redrick.invalid">
      <p>Option One: <b>{{redrick.op1}}</b></p>
      <p>Option Two: <b>{{redrick.op2}}</b></p>
      <p>Option Three: <b>{{redrick.op3}}</b></p>
    </div>
    <div ng-show="redrick.invalid">
      <div class="alert alert-warning">
        INVALID DATA. Please Try Again.
      </div>
    </div>
</div>
</div>
