body {
  background-color: #e8eaed;
}

.mainContainer {
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
}

.navitems li {
  background-color: grey;
  font-size: 1.3em;
  text-decoration: none;

}

.navitems li a {
  color: white;
}

.navitems li a:hover {
  color: black;
}

.navitems li a:focus {
  color: black;
}

.section {
  margin-left: 15px;
  margin-right: 15px;

}
